/* My CSS */

.customHighlight {
  background-color: rgba(255, 255, 255, 0.25);
}

body {
  background-color: var(--cardBg);
}

#root {
  font-family: "Inter";
  font-style: normal;
  min-height: 100vh;
}

* {
  /* Colors */
  --navBg: #141414;
  --navBgElevated: #1f1f1f;
  --cardBg: #f6f6f6;
  --cardBgElevated: #fff;
  --red: #ff4d4f;
  --darkRed: #f5222d;
  --blue: #4096ff;
  --darkBlue: #1677ff;
  --standup: #ff7a45;
  --grappling: #1677ff;
  --health: #389e0d;
  /* Font */
  --titleFontColor: rgba(255, 255, 255, 0.85);
  --primaryFontColor: rgba(255, 255, 255, 0.65);
  --titleDarkFontColor: rgba(0, 0, 0, 0.85);
  --primaryDarkFontColor: rgba(0, 0, 0, 0.65);
  --secondaryDarkFontColor: rgba(0, 0, 0, 0.45);
  --tertiaryDarkFontColor: rgba(0, 0, 0, 0.25);
  --borderDarkFontColor: rgba(0, 0, 0, 0.15);
  --borderLightFontColor: rgba(255, 255, 255, 0.15);
  --titleFontSize: 24px;
  --primaryFontSize: 20px;
  --secondaryFontSize: 16px;
  --tertiaryFontSize: 14px;
  --quaternaryFontSize: 12px;
  /* General Styles */
  /* Sizes */
  --s6: 4rem;
  --s5: 2rem;
  --s4: 1rem;
  --s3: 0.5rem;
  --s2: 0.25rem;
  --s1: 0.1rem;
  /* Borders */
  --borderRadius: 10px;
  --cardBorder: 1px solid var(--borderDarkFontColor);
  --weightClassBorder: 1px solid var(--borderLightFontColor);
  /* Shadows */
  --cardShadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  --weightClassShadow: 5px 0px 15px rgba(0, 0, 0, 0.6);
  --redFighterShadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  --blueFighterShadow: -5px 5px 15px rgba(0, 0, 0, 0.6);
}

/* Resetting CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-variant-numeric: tabular-nums;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
