.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.perks {
  display: flex;
}

.red-perks {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  text-align: start;
}

.red-perks,
.blue-perks {
  flex: 1;

  /* Column was not working due to align-items would not work as except with border-bottom 
  so row was selected, flex-basis was chosen and flex-wrap was given to resemble a column*/
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.red-perks > div,
.blue-perks > div {
  flex-basis: 100%;
  padding: 0.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.red-perks > div {
  text-align: start;
}

.blue-perks > div {
  text-align: end;
}

.red-perks > div:nth-child(5),
.blue-perks > div:nth-child(5) {
  border-bottom: none;
}

.stand-up {
  background-color: #ff7a45;
}

.grappling {
  background-color: #1677ff;
}

.health {
  background-color: #389e0d;
}

/* Tooltip container */
.tooltip {
  /* Same result with static position */
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltiptext-red {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0;
  left: 70%;
  z-index: 1;
}

.tooltiptext-blue {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0;
  right: 70%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-blue,
.tooltip:hover .tooltiptext-red {
  visibility: visible;
}
