.all-cards {
  /* Positioning */
  display: flex;
  flex-direction: column;
  /* Spacing */
  padding-bottom: 12rem; /*This was added due to the health card being hidden by versebar*/
  gap: 2em 0;
}
