.nav {
  /* Font Styling */
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* General Styling */
  box-shadow: var(--cardShadow);
}

.nav__top {
  padding: 0.5rem 0.75rem;
  background-color: var(--navBg);
}

.nav__top__title {
  font-size: var(--titleFontSize);
  color: var(--titleFontColor);
}

.nav__bot {
  /* Positioning */
  display: flex;
  /* Spacing */
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  /* Font Styling */
  color: var(--titleFontColor);
  font-size: var(--quaternaryFontSize);
  /* General Styling */
  background-color: var(--navBgElevated);
}

.nav__bot__timer {
  margin-left: auto;
}
