nav {
  margin-bottom: 2rem;
  font-weight: 700;
}

.menu-img {
  width: 2rem;
}

.top-nav {
  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
}

.top-nav > span {
  margin-right: auto;
  letter-spacing: 0.1rem;
}

.bot-nav {
  display: flex;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
}

.bot-nav > span:nth-child(1) {
  margin-right: auto;
  letter-spacing: 0.1rem;
}

.bot-nav > span:nth-child(2) {
  letter-spacing: 0.1rem;
}
