.versus {
  /* Display */
  display: flex;
  flex-direction: column;
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--verseBarShadow);
}

.versus__weightclass {
  /* Positioning */
  display: flex;
  justify-content: center;
  /* Text */
  letter-spacing: 0.5rem;
  /* Spacing */
  padding-block: 0.25rem;
  /* Font Styling */
  font-size: var(--tertiaryFontSize);
  color: var(--titleFontColor);
  /* General Styling */
  background-color: var(--navBgElevated);
}

.versus__weightclass__img,
.versus__fighters__fighter__img {
  width: 1rem;
  margin-block: auto;
}

.versus__fighters {
  font-size: var(--primaryFontSize);
  color: var(--titleFontColor);
  background-color: var(--navBg);
}

.versus__fighters__fighter {
  display: flex;
  column-gap: 1rem;
  padding: 0.5rem 1rem;
}

.versus__fighters__fighter:nth-child(1) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

/* Dropdown */

.versus__weight-pickup,
.versus__fighter-pickup {
  overflow: auto;
  /* Positioning */
  max-height: 20rem;
  text-align: center;
  z-index: 1;
  /* Spacing */
  padding: 1rem;
  /* Font Styling */
  color: var(--titleFontColor);
  font-size: var(--tertiaryFontSize);
  /* General Styling */
  box-shadow: inset 0px -15px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: var(--navBgElevated);
}

.versus__fighter-pickup {
  box-shadow: inset 0px -15px 10px -5px rgba(0, 0, 0, 0.3),
    inset 0px 15px 10px -5px rgba(0, 0, 0, 0.3);
}


.versus__fighters__fighter__container {
  overflow-x: hidden;
  flex-grow: 1;
}

.versus__fighters__fighter__container__scroll {
  width: max-content;
  white-space: nowrap;
  /* animation name, duration, easing-function , delay, iteration-count, direction  */
  -moz-animation: myScroll 5s linear 2s infinite;
  -webkit-animation: myScroll 5s linear 2s infinite;
  animation: myScroll 5s linear infinite alternate;
}

@keyframes myScroll {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-30%);
  }
}

/* for Firefox */
@-moz-keyframes myScroll {
  from {
    -moz-transform: translateX(30%);
  }
  to {
    -moz-transform: translateX(-30%);
  }
}

/* for Chrome */
@-webkit-keyframes myScroll {
  from {
    -webkit-transform: translateX(30%);
  }
  to {
    -webkit-transform: translateX(-30%);
  }
}
