.versus {
  /* Display */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #000;
  /* Positioning */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  /* Text */
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.weightclass-container {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;

  /* Text */
  font-size: 14px;
  letter-spacing: 0.5rem;
}

.fighter-container {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 1rem;
}

.vs {
  margin-inline: 2em;
}

.fighter-select {
  display: flex;
  align-items: center;
}

/* Dropdown */

.dropdown {
  background-color: #f9f9f9;
  min-width: 100%;
  max-height: 10em; /* % does not work here for some reason, maybe cause of z-index */
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: #000;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

/* End of Dropdown */

img {
  width: 1rem;
}
