/* Generic */
/* Font */

.title {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.85);
}

.sub-title {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.85);
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

/* Used somewhere */
.heading-alt {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.content {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.45);
}

/* End Font */

/* Color & Shadow */
.bg {
  background-color: #f6f6f6;
}

.bg-container {
  background-color: #141414;
}

.bg-elevated {
  background-color: hwb(0 12% 88%);
}

.tooltiptext-red,
.tooltiptext-blue {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
}

.red {
  background-color: #ff4d4f;
}

.blue {
  background-color: #4096ff;
}

.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.shadow-up {
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
}

/* End Color & Shadow */

/* Card  */
.fighter-info,
.perk-info,
.standup-info,
.grappling-info,
.health-info {
  /* display: flex;
  flex-direction: column; */
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.card-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.125rem 0;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0 1rem;
}

.stat-title {
  text-align: center;
  padding: 0.125rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.stat {
  display: flex;
}

.stat > div {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding: 0.125rem 0;
}

.stat > div:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* End Card */

/* End Generic */
